{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <div>
        <br>@Starman1.0</br>
        <br>This is about page. </br>
        <br>This is about this page. </br>
        <br>We recently updated our Privacy Policy and we have received many thoughtful questions. With some of the rumors going around, we want to answer some of the common questions we have received. We go to great lengths to build WhatsApp in a way that helps people communicate privately.

We want to be clear that the policy update does not affect the privacy of your messages with friends or family in any way. The changes are related to optional business features on WhatsApp, and provides further transparency about how we collect and use data. Learn more about new business features and WhatsApp's Privacy Policy update here.</br>
        <br>- Whatsapp on January 04, 2021</br>



    </div>
{% endblock content %}